$font-size-lg: 1.5rem;
$font-size-md: 1.25rem;
@mixin title {
  font-weight: 700;
  font-size: 1.5rem;
}

@mixin subtitele {
  font-weight: 700;
  font-size: 1.25rem;
}

@mixin paragraph {
  font-weight: 500;
  font-size: 1.25rem;
}

@mixin remark {
  font-weight: 500;
  font-size: 1.25rem;
  color: $gray-dark;
}

@mixin status {
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
  color: $gray;
}

.container {
  max-width: 660px;
}

.fas.fa-star {
  color: #F5A623;
}

// ====開始====================================
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: justify;
  text-justify: auto;
  background-color: #E1E1E1;
  line-height: 1.75rem;
}

header {
  ul {
    list-style: none;
    @include title;
    max-width: 660px;
    min-height: 76px;
    line-height: 76px;
    li {
      position: relative;
      width: 220px;
      cursor: pointer;
    }
  }
  .hover::after {
    content: '';
    width: 160px;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: $secondary;
    transform: translateX(-50%);
    color: $gray-light;
  }
}

body {
  input[type="text"] {
    height: 65px;
    max-width: 620px;
    padding: 0 2rem;
    font-weight: initial;
    font-size: 1.5rem !important;
    line-height: 28px;
    border: 2px solid $gray !important;
    &::placeholder {
      color: $gray !important;
    }
  }
}

.list {
  list-style: none;
  li {
    margin-top: 8px;
    max-width: 620px;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    min-height: 102px;
    @include title;
  }
  button {
    font-size: 1.5rem;
    border: none;
  }
}

input[type="checkbox"] {
  /* width: 40px; */
  /* height: 40px; */
  display: none;
}

input[type="checkbox"]+label {
  display: inline-block;
  text-align: left;
}

label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: $white;
  vertical-align: middle;
  margin-right: 1rem;
  transition: background ease-in .1s;
}

input[type="checkbox"]:checked+label::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: $primary;
}

.completed {
  text-decoration: line-through;
  color: #9B9B9B;
}

.todo-info {
  color: $gray-dark;
  font-size: 1rem;
  padding-left: 40px;
}

// ====Edit CARD=========================
.edit {
  max-width: 620px;
  border: none;
  box-shadow: 0 4px 4px 0 $gray;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.card-header>label {
  height: 28px;
  &::before {
    margin-bottom: 4px;
  }
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
  border-bottom: 2px solid $gray;
  input[type="text"] {
    height: 28px;
    max-width: 620px;
    padding: 0 !important;
    font-weight: initial;
    font-size: 1.5rem !important;
    line-height: 28px;
    border: none !important;
    background-color: $gray-light;
    outline: none;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      max-width: 160px;
    }
  }
}

.card-body {
  // background-color: $gray-light;
  padding: 1.5rem 4.5rem;
  label {
    @include subtitele;
    i {
      margin-right: 9px;
    }
    &::before {
      display: none !important;
    }
  }
  .label-date {
    input {
      width: 162px;
      height: 35px;
      padding: 8px 0rem 8px 1rem;
      font-weight: initial;
      font-size: 1rem !important;
      line-height: 35px;
      border: none;
      margin-right: 8px;
      &::placeholder {
        color: $gray !important;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }
  .label-file {
    input[type="file"] {
      display: none;
    }
    i {
      margin-right: 11px;
    }
    label::after {
      content: "＋";
      display: block;
      height: 32px;
      width: 32px;
      background-color: $gray;
      line-height: 32px;
      text-align: center;
      font-size: 2rem;
      color: $white;
      margin-top: 8px;
      border-radius: 2px;
      margin-left: 26px;
    }
  }
  .label-comment {
    i {
      margin-right: 6px;
    }
    textarea {
      height: 120px;
      padding: 8px 1rem;
      font-weight: initial;
      font-size: 1rem !important;
      border: none !important;
      font-size: 1rem;
      line-height: 24px;
      margin-left: 26px;
      color: $black;
      &::placeholder {
        color: $gray !important;
      }
    }
  }
}

.card-footer {
  overflow: hidden;
  button {
    @include paragraph;
    height: 60px; // .btn-primary:focus {
    //   border-color: none;
    // }
  }
}