<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No1.todolist</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets\all.css">
</head>

<body>
  <div id="app">
    <header class="bg-primary">
      <ul class="d-flex flex-column flex-sm-row align-items-center justify-content-between text-secondary mx-auto pl-0 text-center">
        <li class="text-light hover">My Tasks</li>
        <li>In Progress</li>
        <li>Completed</li>
      </ul>
    </header>

    <body>
      <div class="container">
        <!-- 新增開始 -->
        <ul class="list pl-0">
          <input type="text" class="form-control my-4" placeholder="＋ Add Task" @click="addTask = !addTask" v-if="!addTask">
          <div class="card edit" v-if="addTask">
            <div class="card-header bg-info d-flex flex-column flex-sm-row  justify-content-sm-between align-items-sm-center" :class="{'bg-light': !newTodo.mark}">
              <div>
                <input type="checkbox" name="" id="addSomething" v-model="newTodo.completed" @click="newTodo.completed = !newTodo.completed">
                <label for="addSomething" class="text-truncate mb-0"></label>
                <input type="text" name="" v-model="newTodo.title" :class="{'completed':newTodo.completed,'bg-info': newTodo.mark}">
              </div>
              <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info py-0" @click="newTodo.mark = !newTodo.mark" :class="{'bg-light': !newTodo.mark}">
                  <i class="fas fa-star" v-if="newTodo.mark"></i>
                  <i class="far fa-star" v-if="!newTodo.mark"></i>
                </button>
              </div>
            </div>
            <!-- 詳細內容開始 -->
            <div class="card-body">
              <form>
                <div class="form-group label-date">
                  <label for="FormControlDate">
                    <i class="far fa-calendar-alt"></i>Deadline</label>
                  <div class="d-flex flex-column flex-sm-row" style="margin-left: 26px;">
                    <input type="date" class="form-control-file" id="FormControlDate" :vaule="newTodo.deadlineDate" v-model="newTodo.deadlineDate">
                    <input type="time" class="form-control-file" id="FormControlTime" :vaule="newTodo.deadlineTime" v-model="newTodo.deadlineTime">
                  </div>
                </div>
                <div class="form-group label-file">
                  <label for="FormControlFile">
                    <i class="far fa-file"></i>File</label>
                  <input type="file" class="form-control-file" id="FormControlFile">
                </div>
                <div class="form-group label-comment">
                  <label for="FormControlFile">
                    <i class="far fa-comment-dots"></i>Comment</label>
                  <textarea type="text" class="form-control-file" id="FormControlComment" placeholder="Type your memo here…" v-model="newTodo.comment">{{ newTodo.comment }}</textarea>
                </div>
              </form>
            </div>
            <!-- 詳細內容結束 -->
            <!-- btn開始 -->
            <div class="card-footer p-0 d-flex btn-group">
              <button type="button" class="btn btn-white btn-block rounded-0 text-danger" @click="cancelAdd">
                <i class="fas fa-times"></i> Cancel</button>
              <button type="button" class="btn btn-primary btn-block m-0 rounded-0" @click="addTodo">
                <i class="fas fa-plus fa-xs"></i> Add Task</button>
            </div>
            <!-- btn結束 -->
          </div>
          <!-- 新增結束 -->
          <!-- 項目開始 -->
          <div v-for="(item,key) in todos">
            <li class="bg-info d-flex flex-column" :class="{'bg-light': !item.mark}" v-if="item.id !== cacheTodo.id">
              <div class="d-flex justify-content-between align-items-center">
                <input type="checkbox" name="" :id="item.id" v-model="item.completed">
                <label :for="item.id" class="text-truncate mb-0 todoLabel font-weight-bold" :class="{'completed':item.completed}">{{ item.title }}</label>
                <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-info py-0" @click="item.mark = !item.mark" :class="{'bg-light': !item.mark}">
                    <i class="fas fa-star" v-if="item.mark"></i>
                    <i class="far fa-star" v-if="!item.mark"></i>
                  </button>
                  <button type="button" class="btn btn-info py-0" :class="{'bg-light': !item.mark}" @click="editTodo(item)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info py-0" :class="{'bg-light': !item.mark}" @click="removeTodo">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-sm-start align-items-center todo-info">
                <span class="mr-3">
                  <i class="far fa-calendar-alt" v-if="item.deadlineDate !== ''"></i> {{ item.deadlineDate }}</span>
                <i class="far fa-file mr-3" v-if="item.file !== ''"></i>
                <i class="far fa-comment-dots mr-3" v-if="item.comment !== ''"></i>
              </div>
            </li>
            <!-- 編輯開始 -->
            <div class="card edit" v-if="cacheTodo != ''">
              <div class="card-header bg-info d-flex flex-column flex-sm-row  justify-content-sm-between align-items-sm-center" :class="{'bg-light': !cacheTodo.mark}">
                <div>
                  <input type="checkbox" name="" id="editSomething" v-model="cacheTodo.completed" @click="cacheTodo.completed = !cacheTodo.completed">
                  <label for="editSomething" class="text-truncate mb-0"></label>
                  <input type="text" name="" v-model="cacheTodo.title" :class="{'completed':cacheTodo.completed,'bg-info': cacheTodo.mark}">
                </div>
                <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-info py-0" @click="cacheTodo.mark = !cacheTodo.mark" :class="{'bg-light': !cacheTodo.mark}">
                    <i class="fas fa-star" v-if="cacheTodo.mark"></i>
                    <i class="far fa-star" v-if="!cacheTodo.mark"></i>
                  </button>
                  <button type="button" class="btn btn-info py-0 text-primary" :class="{'bg-light': !cacheTodo.mark}">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </div>
              </div>
              <!-- 詳細內容開始 -->
              <div class="card-body">
                <form>
                  <div class="form-group label-date">
                    <label for="FormControlDate">
                      <i class="far fa-calendar-alt"></i>Deadline</label>
                    <div class="d-flex flex-column flex-sm-row" style="margin-left: 26px;">
                      <input type="date" class="form-control-file" id="FormControlDate" :vaule="cacheTodo.deadlineDate" v-model="cacheTodo.deadlineDate">
                      <input type="time" class="form-control-file" id="FormControlTime" :vaule="cacheTodo.deadlineTime" v-model="cacheTodo.deadlineTime">
                    </div>
                  </div>
                  <div class="form-group label-file">
                    <label for="FormControlFile">
                      <i class="far fa-file"></i>File</label>
                    <input type="file" class="form-control-file" id="FormControlFile">
                  </div>
                  <div class="form-group label-comment">
                    <label for="FormControlFile">
                      <i class="far fa-comment-dots"></i>Comment</label>
                    <textarea type="text" class="form-control-file" id="FormControlComment" placeholder="Type your memo here…" v-model="cacheTodo.comment">{{ cacheTodo.comment }}</textarea>
                  </div>
                </form>
              </div>
              <!-- 詳細內容結束 -->
              <!-- btn開始 -->
              <div class="card-footer p-0 d-flex btn-group">
                <button type="button" class="btn btn-white btn-block rounded-0 text-danger" @click="cancelEdit">
                  <i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary btn-block m-0 rounded-0" @click="saveTodo">
                  <i class="fas fa-plus fa-xs"></i> Save</button>
              </div>
              <!-- btn結束 -->
            </div>
            <!-- 編輯結束 -->
          </div>
          <!-- 項目結束 -->
          <!-- 項目開始 -->
          <!-- <li class="bg-info d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <input type="checkbox" name="" id="Something">
              <label for="Something" class="text-truncate mb-0 todoLabel font-weight-bold">吃早餐</label>
              <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info py-0">
                  <i class="fas fa-star"></i>
                </button>
                <button type="button" class="btn btn-info py-0">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-info py-0">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-sm-start align-items-center todo-info">
              <span class="mr-3">
                <i class="far fa-calendar-alt"></i> 2018/05/04</span>
              <i class="far fa-file mr-3"></i>
              <i class="far fa-comment-dots mr-3"></i>
            </div>
          </li> -->
          <!-- 項目結束 -->
          <!-- <li class="bg-light d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <input type="checkbox" name="" id="Something2">
              <label for="Something2" class="text-truncate mb-0 completed">Type Something Here…</label>
              <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light py-0">
                  <i class="far fa-star"></i>
                </button>
                <button type="button" class="btn btn-light py-0">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-light py-0">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-sm-start align-items-center todo-info">
              <span class="mr-3">
                <i class="far fa-calendar-alt"></i> 2018/05/04</span>
              <i class="far fa-file mr-3"></i>
              <i class="far fa-comment-dots mr-3"></i>
            </div>
          </li> -->
        </ul>
      </div>
    </body>
  </div>
  <!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="javascripts/vendor.js"></script>
</body>

</html>